
.header-md::after {
    background-image:none;
}
.bordernon{
    border: none;
}
.custH{
    border-bottom-style: solid;
    padding: 10px;
    width: 100px;
    text-align: center;
}
.custGrid{
    position: relative;
    top: -130px;
}
.footer-md::before{
    background-image:  none;
}
.borderNone{
    border-radius: 0px;
}
