<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<!-- 
  <ion-icon name="chevron-down-outline"></ion-icon>
  filter grid -->

<ion-grid> 
  <ion-row class="ion-padding">
    <ion-col size="12" class="radus5 borderlight w100 ">
      <ion-grid> 
        <ion-row class="gyg" >
          <ion-item class="w100">
            <ion-label>header label </ion-label>
            <ion-badge slot="end">
              live class 
              <ion-icon slot="end" name="ellipse" color="danger"></ion-icon> 
            </ion-badge>
          </ion-item>
        </ion-row>
        <!-- imager and detail -->
        <ion-row>
          <ion-col size="6" >
            <ion-img class="radus5" src="../../assets/imgs/test.jpg"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-label>header label </ion-label>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>