.header-md::after {
    background-image:none;
}
.bordernon{
    border: none;
}

.newHeight{
    height: 375px;
}
.custH{
    border-bottom-style: solid;
    padding: 10px;
    width: 120px;
    text-align: center;
}
.custGrid{
    position: relative;
    top: -181px;
}
.footer-md::before{
    background-image:  none;
}
.borderNone{
    border-radius: 0px;
}
.padd13{
    padding-top:13%
}
.padd1{
    padding: 1%;
}
.logoSvg{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}